<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <div>
    <h1><%= content.title %> </h1>
    <p><%= content.post  %> </p>
    </div>
    <div>
        <a href="/content/<%= content._id %>/edit"> edit</a> <br>
        <form action="/content/<%= content._id %>?_method=DELETE" method="POST">
            <input type="submit" value="x" >
       </form>
    </div>

</body>
</html>